.interview {
  margin-bottom: 10%;
}

.interview header {
  padding:0 25%;
}

.interview header img {
  width: 50%;
}

.interview header h2 {
  margin: -45% 0 5% 60%;
}

.interview header .bio {
  margin: 0 0 50% 60%;
}

.interview-body {
  font-size: 1.4em;
}

.speaker {
  font-family: "garamond-premier-pro-display", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5%;
}

.interviewer {
  color: #EDBBB4;
}

.interviewee {
  color: #9A879D;
}
